<h1>Users#edit</h1>
<%= form_for @user do |user| %>
	
	Name <br>
	<%= user.text_field :name %><br>

	Surname <br>
	<%= user.text_field :surname %><br>

	Age <br>
	<%= user.text_field :age %><br><br>

	<%= submit_tag "Register User" %><br>

<% end %>
