<table width="620" border="0">
      <tr>
      	<td><b>Product Description</b></td>
      	<td><b>Product Colour</td>
      	<td><b>Product Code</b></td>
      	<td><b>Product Fabric</b></td>
            <td><b>Image</b></td>
            <td><b>Product Price</b></td>
      </tr>
      	<% @products.each do |p| %>
      	<tr>
      	<td><%= p.description %></td>
      	<td><%= p.color %></td>
      	<td><%= p.code %></td>
      	<td><%= p.fabric %></td>
            <td><%= p.product_image %></td>
            <td><%= p.price %></td>
      </tr>
	<% end %>
</table>