<div class="wrapper">
	<div class="content">
    	<div class="header-row">
        	<div class="header-cols-2">
    			<div class="logo">
    				<%= image_tag ("logo.jpg") %>
    			</div>
             </div>
             
             <div class="header-cols-2">
    			
             </div>
        </div>

        <div class="row">
        	<div class="nav">
        		<ul>
        			<li><%= link_to 'HOME', public_home_path%></li>
        			<li><%= link_to 'ABOUT US', public_about_path %></li>
        			<li><%= link_to 'PRODUCTS', public_products_path %></li>
        			<li><%= link_to 'INSTRUCTIONS', public_instructions_path %></li>
        			<li><%= link_to 'CONTACT US', public_contact_path %></li>
        		</ul>
        	</div>
    	</div>
            
            <div class="row">
	            <div class="content-col">
	            	<h1>ABOUT US<h1>

	            	 <p>Dayshades Bridal Boutique presents our exclusive collection of bridal gowns tailored to meet each bride's needs. These include the latest designs from the world's top famous brands; from simple classical designs to extravagant princess gowns <p>

	            	 <h2>OUR MISSION</h2>

	            	 <p>Is to make sure that every bride has that special dress to wear for her special occasion at the right price with guaranteed quality!</p>

<p>Our consultants will guide you through our wide selection of imported exclusive bridal gowns and give professional advice in choosing the right dress.</p>

 

<p>Our personal service ensures that your gown is specially tailored to suit your body through accurate measurements and minor alterations where required to give you the perfect fit. All our dresses are made to order.</p> 
	            </div>
        	</div>
        </div>
    </div>
    <div class="clear"></div>
</div>
