<div class="wrapper">
	<div class="content">
    	<div class="header-row">
        	<div class="header-cols-2">
    			<div class="logo">
    				<%= image_tag ("logo.jpg") %>
    			</div>
             </div>
             
             <div class="header-cols-2">
    			
             </div>
        </div>

        <div class="row">
        	<div class="nav">
        		<ul>
        			<li><%= link_to 'HOME', public_home_path%></li>
        			<li><%= link_to 'ABOUT US', public_about_path %></li>
        			<li><%= link_to 'PRODUCTS', public_products_path %></li>
        			<li><%= link_to 'INSTRUCTIONS', public_instructions_path %></li>
        			<li><%= link_to 'CONTACT US', public_contact_path %></li>
        		</ul>
        	</div>
    	</div>
            
            <div class="row">
	            <div class="content-col">
	            	<%= image_tag ("slider.jpg") %>
	            </div>
        	</div>
        </div>
    </div>
    <div class="clear"></div>
</div>
